<div class="site-info">
&copy;{{ site.since | default: "2021" }} - {{ 'now' | date: "%Y" }} {{ page.title | default: site.name }}
<p style="font-size:xx-small">Informationen über die Verwendung von Drittkompeten und die anwendbaren Lizenzbedingungen finden Sie unter <a href="https://goto.pc-cdn.de/quellenangaben">ISE</a></p>
			<br/>
			<span class="footer-info-right">
			<a href="{{ site.github.repository_url }}" alt="{{ site.github.repository_name }}" Title="{{ site.github.repository_name }}"><img src="https://img.shields.io/badge/Hosted%20on%C2%A0%C2%A0-GitHub%20Pages-%23222222?logo=githubpages" alt="GitHub Pages"></a>
			<br/><a href="https://pc-cdn.statuspage.io/"><img src="https://img.shields.io/badge/Status%C3%BCbersicht%20auf%C2%A0%C2%A0-Statuspage-%23172B4D?logo=Statuspage" alt="Statuspage"></a>
			<br/>
			<statusbanner onload="statusEmbedTest()">
			<script src="https://pc-cdn.statuspage.io/embed/script.js"></script>
			</statusbanner>
			<div class="meta"> <!-- the colored dot gets an extra class and description text gets inserted via javascript -->
			<a href="http://acmeapico.statuspage.io" target="_blank"> <span class="color-dot"></span> <span class="color-description"></span> 
			</a>
			</div>
	</span>
</div>
