<div class="site-info">
	&copy;2021 {{ page.title | default: site.name }}
	<!-- Delete below lines to remove copyright from footer -->
	<span class="footer-info-right">
	 | Hosted on <i class="fab fa-github"></i> <a href="{{ site.github.repository_url }}" alt="{{ site.github.repository_name }}" Title="{{ site.github.repository_name }}">GitHub</a>
	<hr>
		<a href="https://pc-cdn.statuspage.io/">
		<i class="fas fa-wifi"></i> Statuspage</a>
		<br>
		<statusbanner onload="statusEmbedTest()">
		<script src="https://pc-cdn.statuspage.io/embed/script.js"></script>
		</statusbanner>
		<div class="meta"> <!-- the colored dot gets an extra class and description text gets inserted via javascript -->
		<a href="http://acmeapico.statuspage.io" target="_blank"> <span class="color-dot"></span> <span class="color-description"></span> 
		</a>
		</div>
</span>
	<!-- Delete above lines to remove copyright from footer -->
</div>

